---
import "../styles/reset.css";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

// Get posts as an array is the year of the post and the value an array of the posts fors the given year

const postsByYear = allPosts.reduce((acc: any, post: any) => {
	const year = new Date(post.data.pubDate).getFullYear();

	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(post);
	return acc;
}, {});

// console.log(postsByYear);

const pageTitle = "My Astro Site";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Artículos</h2>

	{
		Object.entries(postsByYear)
			//  TODO: Check this typing errors
			.sort((a, b) => b[0] - a[0])
			.map(([year, posts]) => (
				<section>
					<h3>{year}</h3>
					<ul>
						{posts.map((post: any) => (
							<BlogPost
								url={`/${post.id}/`}
								title={post.data.title}
								description={post.data.description}
								date={post.data.date}
							/>
						))}
					</ul>
				</section>
			))
	}
</BaseLayout>
