---
import "../styles/reset.css";
import "../styles/global.css";
import "../styles/index.css";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import Welcome from "../components/Welcome.astro";

const allPosts = await getCollection("blog");

const postsByYear = allPosts.reduce((acc: any, post: any) => {
	const year = new Date(post.data.pubDate).getFullYear();

	if (!acc[year]) {
		acc[year] = [];
	}
	acc[year].push(post);
	return acc;
}, {});
---

<BaseLayout>
	<Welcome />
	{
		Object.entries(postsByYear)
			//  TODO: Check this typing errors
			.sort((a, b) => Number(b[0]) - Number(a[0]))
			.map(([year, posts]) => (
				<section class="post-list">
					<h3 class="post-list__year">{year}</h3>
					<ul>
						{posts.reverse().map((post: any) => (
							// TODO: Rename this to PostSummary or similar
							<BlogPost
								url={`/${post.id}/`}
								title={post.data.title}
								description={post.data.description}
								date={post.data.date}
							/>
						))}
					</ul>
				</section>
			))
	}
</BaseLayout>
